.slider-wrap
  .slider
    %ul
      %li
        .item
          .avatar
          .data Avatar Name
          %a{:href => "#"}
            .view-profile View Profile
      %li
        .item
          .avatar
          .data Avatar Name
          %a{:href => "#"}
            .view-profile View Profile
      %li
        .item
          .avatar
          .data Avatar Name
          %a{:href => "#"}
            .view-profile View Profile
      %li
        .item
          .avatar
          .data Avatar Name
          %a{:href => "#"}
            .view-profile View Profile
      %li
        .item
          .avatar
          .data Avatar Name
          %a{:href => "#"}
            .view-profile View Profile
  %a.slider-arrow.sa-left{:href => "#"}
    %i.fa.fa-angle-left
  %a.slider-arrow.sa-right{:href => "#"}
    %i.fa.fa-angle-right