body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-wrap {
  position: relative;
  margin: 50px auto;
  width: 90%;
}

.slider {
  position: relative;
  width: 800px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li .item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14rem;
  height: 25rem;
  background: black;
  border-radius: 5px;
  border: 1px solid #d30000;
  background: #000;
}

.avatar {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  background-size: cover;
  background-image: url("https://d13yacurqjgara.cloudfront.net/users/255/screenshots/683315/rogie_small.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  border: 3px solid #d30000;
}

.data {
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.01rem;
  font-weight: 100;
}

.view-profile {
  position: absolute;
  width: 124px;
  height: 27px;
  border: 1px solid #fff;
  color: #fff;
  left: 50%;
  bottom: 20px;
  margin-left: -62px;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 1.1rem;
  -webkit-transition: background-color .2s ease-in-out .1s;
  transition: background-color .2s ease-in-out .1s;
}
.view-profile:hover {
  background-color: #797BED;
  border-color: #000;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  color: #d30000;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.slider-arrow i {
  font-size: 2rem;
  border: 1px solid #d30000;
  padding: 10px 20px;
  border-radius: 50px;
}

.sa-left {
  left: 0px;
}

.sa-right {
  right: 34px;
}
